@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&family=Roboto&display=swap');

.container{
  width: 837px;
  height: 702px;
  border: 1px solid black;
  margin: 0 auto;
 padding: px;
}

.col{
  background-color: #ffffff;
  width: 835px;
  height: 700px;
}